* {
    margin: 0px;
    padding: 0px;
}
.header {
    width: 800px;
    height: 100px;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.main {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.leftbox {
    width: 200px;
    height: 400px;
    border: 2px solid black;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: left;
    background-color: antiquewhite;
}
.rightbox {
    width: 570px;
    height: 400px;
    border: 2px solid black;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: right;
    background-color: antiquewhite;
}
.footer {
    width: 800px;
    height: 100px;
    border: 2px solid black;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: coral;
    clear: both;
}