* {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.v_menu li {
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    padding: 0px 20px;
    margin: 5px 0px;
    background-color: yellow;
}
.v_menu li a {
    color: darkolivegreen;
}
.v_menu li:hover {
    background-color: #ff5441;
    color: white;
}
.v_menu {
    overflow: hidden;
    margin: 40px;
    border: 1px solid orange;
    width: 140px;
}
/*상단의 메뉴에는 li:hover 를 많이 쓰고 눈에 잘 띄지 않는 하단의 메뉴에는 a(선택자):hover를 주로 쓴다.*/
/* li 를 잡을 경우 선택영역이 block 으로 넓고, 선택자를 잡을 경우에는 선택 영역이 inline으로 좁다.*/