* {
    margin: 0px;
    padding: 0px;
}
.box {
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    margin: 0 auto;
    box-sizing: border-box;
}
    .box1{
        width: 300px;
        margin: 0 auto;
        padding-top: 35px;
        box-sizing: border-box;
    }
h4, h1 {
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}
input {
    width: 300px;
    height: 30px;
    border: 2px solid black;
    box-sizing: border-box;
    padding-left: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
}
button {
    width: 300px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.box2 {
    width: 300px;
    height: 50px;
    font-weight: 400;
    font-size: 22px;
    background-color: blueviolet;
    color: antiquewhite;
    border-radius: 10px;
    line-height: 50px;
    transition-duration: 0.5s;
}
button:hover .box2 {
    width: 50px;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 125px;
    background-color: rgb(164, 91, 231);
    transition-duration: 0.5s;
}